<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layoutmain :: head"></head>

<body class="body">

	<div th:replace="layout/layoutmain :: header"></div>
	<main>
		<div class="mainclass4" id="producto">
			<div class="mainimage4">
				<div class="maini4">
					<a class="card-img4" href="rep.html">
						<div class="image4">
							<button class="TB4">ENCARGAR</button>
						</div>
					</a>
					<div class="textm4">
						<h4 class="T44"> Caminos de mesa</h4>
						<p class="TP1">Caminos de tela para embellecer y decorar la mesa de cada día</p>
					</div>
				</div>
				<div class="maini4">
					<a class="card-img5" href="rep.html">
						<div class="image4">
							<button class="TB4">ENCARGAR</button>
						</div>
					</a>
					<div class="textm4">
						<h4 class="T44"> Colgantes</h4>
						<p class="TP1">Decocaciones que llenan de amor tu hogar y le dan calidez a tu familia</p>
					</div>
				</div>
			</div>
			<div class="mainimage4">
				<div class="maini4">
					<a class="card-img4" href="rep.html">
						<div class="image4">
							<button class="TB4">ENCARGAR</button>
						</div>
					</a>
					<div class="textm4">
						<h4 class="T44"> Caminos de mesa</h4>
						<p class="TP1">Caminos de tela para embellecer y decorar la mesa de cada día</p>
					</div>
				</div>
				<div class="maini4">
					<a class="card-img5" href="rep.html">
						<div class="image4">
							<button class="TB4">ENCARGAR</button>
						</div>
					</a>
					<div class="textm4">
						<h4 class="T44"> Colgantes</h4>
						<p class="TP1">Decocaciones que llenan de amor tu hogar y le dan calidez a tu familia</p>
					</div>
				</div>
			</div>
		</div>
		<div class="mainclass4" id="producto2">
			<div class="mainimage4">
				<div class="maini4">
					<a class="card-img4" href="rep.html">
						<div class="image4">
							<button class="TB4">ENCARGAR</button>
						</div>
					</a>
					<div class="textm4">
						<h4 class="T44"> Caminos de mesa</h4>
						<p class="TP1">Caminos de tela para embellecer y decorar la mesa de cada día</p>
					</div>
				</div>
				<div class="maini4">
					<a class="card-img5" href="rep.html">
						<div class="image4">
							<button class="TB4">ENCARGAR</button>
						</div>
					</a>
					<div class="textm4">
						<h4 class="T44"> Colgantes</h4>
						<p class="TP1">Decocaciones que llenan de amor tu hogar y le dan calidez a tu familia</p>
					</div>
				</div>
			</div>
			<div class="mainimage4">
				<div class="maini4">
					<a class="card-img4" href="rep.html">
						<div class="image4">
							<button class="TB4">ENCARGAR</button>
						</div>
					</a>
					<div class="textm4">
						<h4 class="T44"> Caminos de mesa</h4>
						<p class="TP1">Caminos de tela para embellecer y decorar la mesa de cada día</p>
					</div>
				</div>
				<div class="maini4">
					<a class="card-img5" href="rep.html">
						<div class="image4">
							<button class="TB4">ENCARGAR</button>
						</div>
					</a>
					<div class="textm4">
						<h4 class="T44"> Colgantes</h4>
						<p class="TP1">Decocaciones que llenan de amor tu hogar y le dan calidez a tu familia</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<div th:replace="layout/layoutmain :: footer"></div>
</body>

</html>