<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="	~{layout/layoutmain :: head}"></head>
<body>
	<div th:replace="	~{layout/layoutprod :: header}"></div>
	<div class="mr-5 ml-5">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<div class="form-group">
					<h5 class="mb-3">Lista Productos</h5>
					<a th:href="@{/Admin/init/new}" id="add-row" type="button"
						class="btn btn-primary btn-md left-block mb-3">Nuevo </a>
					<table class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">Id</th>
								<th class="text-center">Nombre</th>
								<th class="text-center">Precio</th>
								<th class="text-center">Detalle</th>
								<th class="text-center">Editar</th>
								<th class="text-center">Eliminar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p: ${listProductos}">
								<td th:text="${p.id}"></td>
								<td th:text="${p.nombre}"></td>
								<td th:text="${p.Precio}"></td>
								<td><a th:href="@{'/Admin/init/detail/' + ${p.id}}">Detalle</a></td>
								<td><a th:href="@{'/Admin/init/update/' + ${p.id}}">Editar</a></td>
								<td><a th:href="@{'/Admin/init/delete/' + ${p.id}}">Eliminar</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
	<div th:replace="	~{layout/layoutprod :: footer}"></div>
</body>
</html>
