<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layoutprod :: head}"></head>

<body>
	<div th:replace="	~{layout/layoutprod :: header}"></div>
	<div class="container">
		<div class="row mb-8" style="justify-content: center;">
			
			<div class="col-sm-6">
				<form th:action="@{/Admin/init/save}" method="post" th:object="${producto}"
					enctype="multipart/form-data">
					<div class="form-group">
						<h5 class="mb-3">Detalle Producto</h5>
						<label for="title">T&iacute;tulo:</label>
						<input type="text" th:field="*{nombre}" class="form-control mb-2" id="title" required
							readonly></input>
						<label for="description">Descripci&oacute;n:</label>
						<input type="text" th:field="*{descripcion}" class="form-control mb-2" id="description" required
							readonly></input>
						<label for="price">Precio:</label>
						<input type="text" th:field="*{Precio}" class="form-control mb-2" id="price" required readonly></input>
						<label for="title">Imagen:</label> <br>
						<img class="rounded" style="width: 250px;" th:src="@{'/Admin/init/uploads/' + ${producto.imagen}}" />
					</div>
					<a th:href="@{/Admin/init/cargarproductos}" class="btn btn-danger">Regresar</a>
				</form>
			</div>
			
		</div>
	</div>
	<div th:replace="	~{layout/layoutprod :: footer}"></div>
</body>

</html>